.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app__box {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
}

.select-fieldset fieldset {
    border: none !important;
}

.home {
    margin-top: 64px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    @media screen and (max-width: 599px) {
        margin-top: 56px;
    }
}
